<% layout("/layouts/boilerplate") %>

    <div class="row">
        <div class="col-8 offset-2">
            <h3>All Bookings</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Listing Title</th>
                        <th scope="col">Guest Username</th>
                        <th scope="col">Start Date</th>
                        <th scope="col">End Date</th>
                        <th scope="col">Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (allBookings && allBookings.length> 0) { %>
                        <% allBookings.forEach((booking, index)=> { %>
                            <tr>
                                <th scope="row">
                                    <%= index + 1 %>
                                </th>
                                <td>
                                    <%= booking.listingId ? booking.listingId.title : 'N/A' %>
                                </td>
                                <td>
                                    <%= booking.guestId ? booking.guestId.username : 'N/A' %>
                                </td>
                                <td>
                                    <%= new Date(booking.startDate).toLocaleDateString() %>
                                </td>
                                <td>
                                    <%= new Date(booking.endDate).toLocaleDateString() %>
                                </td>
                                <td>&#8377; <%= booking.totalPrice.toLocaleString("en-IN") %>
                                </td>
                            </tr>
                            <% }); %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="6">No bookings found.</td>
                                    </tr>
                                    <% } %>
                </tbody>
            </table>
        </div>
    </div>